## appending WithHtml to variable name instructs Velocity not to add html escaping (like & -> &amp;)
## which would otherwise broke the js embedded this way pretty badly...
#set($iframeResizerJsWithHtml = $iframeResizerJs)
<script>
    ${iframeResizerJsWithHtml}
</script>
<iframe id="${iframeId}" scrolling="no" style="width: 100%; border: none;" src="${iframeSrc}"></iframe>
<script>
    if (iFrameResize) {
        var iframeEl = document.getElementById("${iframeId}");
        if (!iframeEl.SPARK) {
            iframeEl.SPARK = {};
        }
        iframeEl.SPARK.contextData = "${escapedIframeContext}";
        iFrameResize({
            'autoResize': true,
            'heightCalculationMethod': 'max'
        }, '#${iframeId}');
    }
</script>