/* Don't show dialogs while loading, see https://docs.angularjs.org/api/ng/directive/ngCloak */
[ng-cloak] {
    display: none !important;
}

/* While loading, we want to modify the blanket */
[ng-cloak] ~ .aui-blanket.spark-loading {
    background-color: white;
}

/*
 * Styles for iframe (full screen) dialog emulating Atlassian Connect
 */

.spark-no-scroll {
    overflow: hidden;
}

.spark-fullscreen-wrapper {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.spark-fullscreen-scroll-wrapper {
    position: static;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.spark-fullscreen-iframe {
    width: 100%;
    min-height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}