<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>$action.titleAsHtml</title>
        <meta name="decorator" content="atl.general"/>

        #foreach($requiredResourceKey in $requiredResourceKeys)
            #requireResource($requiredResourceKey)
        #end

    </head>

    #applyDecorator("root")
    #decoratorParam("helper"  $action.helper)
    #decoratorParam("viewHelper" $action.viewHelper)
    #decoratorParam("context" "space-administration")
    #decoratorParam("mode" "view-space-administration")
    #decoratorParam("space" $action.space)

    <body>
        #applyDecorator("root")
        #decoratorParam ("helper" $action.helper)
        #decoratorParam ("viewHelper" $action.viewHelper)
        #decoratorParam ("context" "spacetoolspanel")
        #decoratorParam ("selectedSpaceToolsWebItem" $action.selectedWebItem)

        $action.bodyAsHtml

    #end
    </body>

#end
</html>

#* @vtlvariable name="action" type="com.k15t.spark.confluence.ConfluenceSpaceAppAction" *#