{namespace Spark.DialogApp.Templates}

/**
 * @param appId
 * @param title
 */
{template .dialog}
    <section role="dialog" id="{$appId}" class="aui-layer aui-dialog2 aui-dialog2-large" aria-hidden="true">
        <!-- Dialog header -->
        <header class="aui-dialog2-header">
            <!-- The dialog's title -->
            <h2 class="aui-dialog2-header-main">{$title}</h2>
            <!-- Actions to render on the right of the header -->
<!--            <div class="aui-dialog2-header-secondary">
                <form class="aui" action="#">
                    <input id="demo-search" class="text" type="search" name="search">
                </form>
            </div> -->
            <!-- Close icon -->
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <!-- Main dialog content -->
        <div class="aui-dialog2-content spark-dialog-app">
            <p>Hello World</p>
        </div>
        <!-- Dialog footer -->
        <footer class="aui-dialog2-footer">
            <!-- Actions to render on the right of the footer -->
            <div class="aui-dialog2-footer-actions">
                <button class="aui-button aui-button-link">Close</button>
            </div>
            <!-- Hint text is rendered on the left of the footer -->
            <div class="aui-dialog2-footer-hint">this is a hint</div>
        </footer>
    </section>
{/template}